[v-cloak] {
  display: none !important; }

/*total style*/
/*header style*/
/*bottom style*/
* {
  touch-action: none; }

html, body {
  height: 100%;
  overflow: hidden; }

iframe {
  width: 100%;
  height: 99%;
  border: none;
  background: none; }

a {
  color: inherit;
  text-decoration: none;
  out-line: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:hover {
  text-decoration: none; }

input {
  background: none !important;
  background-color: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important; }

select {
  padding: 0;
  margin: 0; }

.colorUp {
  color: #ff5959 !important; }

.colorDown {
  color: #39bf93 !important; }

.colorUpBackground {
  background: #ffeeee !important; }

.colorDownBackground {
  background: #ebf8f4 !important; }

.mui-segmented-control {
  border: none !important; }

.mui-control-item {
  border: none !important;
  background: none;
  color: inherit !important; }

/*main content*/
.both-content {
  box-sizing: content-box;
  padding-top: 1.3333333333rem;
  padding-bottom: 1.3333333333rem;
  height: calc(100% - 1.3333333333rem - 1.3333333333rem); }

.header-content {
  box-sizing: content-box;
  padding-top: 1.3333333333rem;
  height: calc(100% - 1.3333333333rem); }

/*bottom tab*/
.bottom-tab-nav {
  height: 1.3333333333rem;
  box-shadow: none;
  background: #fff;
  border-top: solid 0.0133333333rem #f2f2f2; }
  .bottom-tab-nav .mui-active {
    color: #1873f2 !important; }
  .bottom-tab-nav .mui-tab-item {
    font-size: 11px !important;
    vertical-align: bottom; }
    [data-dpr="2"] .bottom-tab-nav .mui-tab-item {
      font-size: 22px !important; }
    [data-dpr="3"] .bottom-tab-nav .mui-tab-item {
      font-size: 33px !important; }
    .bottom-tab-nav .mui-tab-item .tab-icon {
      display: block;
      margin: 0 auto;
      width: 0.5333333333rem;
      height: 0.5333333333rem; }

/*header tab*/
.header-nav {
  height: 1.3333333333rem;
  background-color: #fff;
  box-shadow: none;
  border-bottom: solid 0.0133333333rem #f2f2f2; }
  .header-nav .mui-title {
    height: 1.3333333333rem;
    line-height: 1.3333333333rem;
    color: #000;
    font-size: 18px !important; }
    [data-dpr="2"] .header-nav .mui-title {
      font-size: 36px !important; }
    [data-dpr="3"] .header-nav .mui-title {
      font-size: 54px !important; }
  .header-nav .mui-pull-right {
    margin-left: 0.5333333333rem;
    color: #333;
    font-size: 14px !important; }
    [data-dpr="2"] .header-nav .mui-pull-right {
      font-size: 28px !important; }
    [data-dpr="3"] .header-nav .mui-pull-right {
      font-size: 42px !important; }
  .header-nav .header-right-icon {
    height: 1.3333333333rem;
    line-height: 1.3333333333rem; }
    .header-nav .header-right-icon .header-icon {
      width: 0.5333333333rem;
      height: 0.5333333333rem;
      vertical-align: middle; }

/*layui layer style*/
.layui-layer {
  border-radius: 5px !important;
  overflow: hidden;
  background: none !important; }

.layui-layer-page {
  background-color: #fff !important; }
  .layui-layer-page .layui-layer-title {
    background: #20212a !important;
    color: #999999 !important;
    font-size: 14px !important;
    padding: 0 !important;
    text-align: center !important;
    border: none !important;
    border-bottom: solid 0.0133333333rem #fff !important;
    height: 1.0666666667rem !important; }
    [data-dpr="2"] .layui-layer-page .layui-layer-title {
      font-size: 28px !important; }
    [data-dpr="3"] .layui-layer-page .layui-layer-title {
      font-size: 42px !important; }

.layui-layer-msg .layui-layer-content {
  background: #34363c !important; }

/*notice layer style*/
#noticeLayer {
  position: relative;
  height: 100%;
  overflow: hidden; }
  #noticeLayer .notice-content {
    height: calc(100% - 1.6rem);
    background: #20212a;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #noticeLayer .notice-btn {
    height: 1.4666666667rem; }
    #noticeLayer .notice-btn .notice-line {
      display: block;
      margin: 0 auto;
      background: #a3a9cc;
      width: 0.0533333333rem;
      height: 0.8rem; }
    #noticeLayer .notice-btn .notice-close-btn {
      border: solid #a3a9cc 0.0533333333rem;
      border-radius: 50px;
      transform: rotate(45deg);
      display: block;
      margin: 0 auto;
      border-radius: 100px;
      width: 0.5333333333rem;
      height: 0.5333333333rem; }

/*confirm layer style*/
.layer-box {
  display: none;
  color: #333;
  height: 100%;
  position: relative; }
  .layer-box .close-icon {
    position: absolute;
    top: 0.2666666667rem;
    right: 0.2666666667rem;
    width: 0.2666666667rem;
    height: 0.2666666667rem; }
  .layer-box .layer-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 1.2rem;
    color: #333;
    font-size: 16px !important; }
    [data-dpr="2"] .layer-box .layer-header {
      font-size: 32px !important; }
    [data-dpr="3"] .layer-box .layer-header {
      font-size: 48px !important; }
  .layer-box .layer-content {
    height: calc(100% - 1.2rem - 1.3333333333rem);
    border-bottom: solid 0.0133333333rem #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px !important;
    padding: 0 0.4rem;
    color: #666; }
    [data-dpr="2"] .layer-box .layer-content {
      font-size: 28px !important; }
    [data-dpr="3"] .layer-box .layer-content {
      font-size: 42px !important; }
  .layer-box .layer-tabs {
    display: block;
    padding: 0 0; }
    .layer-box .layer-tabs .layer-header-tab {
      color: #999999;
      height: 1.0666666667rem;
      display: flex;
      align-items: stretch;
      border-bottom: solid 0.0133333333rem #fff; }
      .layer-box .layer-tabs .layer-header-tab span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center; }
    .layer-box .layer-tabs .layer-header-tab-active {
      color: #1873f2; }
    .layer-box .layer-tabs .layer-tab-item {
      height: calc(100% - 1.0666666667rem); }
      .layer-box .layer-tabs .layer-tab-item .tab-item {
        display: flex;
        height: 33.3333333333%; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex {
          border-right: solid 0.0133333333rem #fff;
          border-bottom: solid 0.0133333333rem #fff;
          display: flex;
          justify-content: center;
          align-items: center; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .no-border {
          border-bottom: none; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex-right {
          display: flex;
          justify-content: space-around; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex-1 {
          flex: 1; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex-2 {
          flex: 2; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex-3 {
          flex: 3; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex-4 {
          flex: 4; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .item-flex-5 {
          flex: 5; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .input-wrap {
          width: 2rem;
          height: 90%;
          background: #1b1b26 !important;
          border-radius: 2.7174px;
          border: 0.0133333333rem solid #14151d !important;
          margin: 0 !important;
          font-size: 14px !important;
          text-align: center;
          padding-top: 0;
          padding-bottom: 0; }
          [data-dpr="2"] .layer-box .layer-tabs .layer-tab-item .tab-item .input-wrap {
            font-size: 28px !important; }
          [data-dpr="3"] .layer-box .layer-tabs .layer-tab-item .tab-item .input-wrap {
            font-size: 42px !important; }
        .layer-box .layer-tabs .layer-tab-item .tab-item .margin-right {
          margin-right: 0.2666666667rem !important; }
  .layer-box .layer-btn {
    height: 1.3333333333rem;
    display: flex;
    align-items: center;
    font-size: 14px !important;
    color: #1873f2; }
    [data-dpr="2"] .layer-box .layer-btn {
      font-size: 28px !important; }
    [data-dpr="3"] .layer-box .layer-btn {
      font-size: 42px !important; }
    .layer-box .layer-btn span {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
    .layer-box .layer-btn .border-right {
      border-right: solid 0.0133333333rem #fff; }

#share .share-content {
  position: relative;
  height: 100%; }
  #share .share-content .share-head {
    padding: 0 0.4rem;
    height: 2.1333333333rem;
    line-height: 2.1333333333rem;
    background-color: #fff; }
    #share .share-content .share-head img {
      width: 1.3333333333rem;
      height: 1.3333333333rem;
      border-radius: 50%;
      float: left;
      margin: 0.4rem 0; }
    #share .share-content .share-head span {
      float: left;
      margin-left: 0.2666666667rem;
      color: #999999;
      font-size: 14px !important; }
      [data-dpr="2"] #share .share-content .share-head span {
        font-size: 28px !important; }
      [data-dpr="3"] #share .share-content .share-head span {
        font-size: 42px !important; }
    #share .share-content .share-head label {
      float: right;
      font-size: 18px !important;
      color: #333; }
      [data-dpr="2"] #share .share-content .share-head label {
        font-size: 36px !important; }
      [data-dpr="3"] #share .share-content .share-head label {
        font-size: 54px !important; }
  #share .share-content .share-detail {
    margin-top: 0.2666666667rem;
    padding: 0 0.4rem;
    background-color: #fff; }
    #share .share-content .share-detail .share-code {
      padding: 0.4rem 0;
      border-bottom: 0.0266666667rem solid #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #share .share-content .share-detail .share-code .share-code-title {
        font-size: 15px !important;
        color: #333; }
        [data-dpr="2"] #share .share-content .share-detail .share-code .share-code-title {
          font-size: 30px !important; }
        [data-dpr="3"] #share .share-content .share-detail .share-code .share-code-title {
          font-size: 45px !important; }
      #share .share-content .share-detail .share-code .share-code-title:before {
        width: 0.0533333333rem;
        height: 0.2666666667rem;
        content: "";
        display: inline-block;
        margin-right: 0.1333333333rem;
        background-color: #1873f2; }
      #share .share-content .share-detail .share-code label:last-child {
        font-size: 13px !important;
        color: #ff7e00; }
        [data-dpr="2"] #share .share-content .share-detail .share-code label:last-child {
          font-size: 26px !important; }
        [data-dpr="3"] #share .share-content .share-detail .share-code label:last-child {
          font-size: 39px !important; }
    #share .share-content .share-detail .share-action {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0.4rem 0; }
      #share .share-content .share-detail .share-action label {
        display: flex;
        align-items: center;
        flex-direction: column; }
        #share .share-content .share-detail .share-action label img {
          width: 1.0666666667rem;
          height: 1.0666666667rem;
          margin-bottom: 0.2rem; }
  #share .share-content .share-profit {
    margin-top: 0.4rem;
    padding-top: 0.4rem;
    background-color: #fff; }
    #share .share-content .share-profit .share-profit-title {
      padding: 0 0.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #share .share-content .share-profit .share-profit-title > span {
        font-size: 15px !important;
        color: #333; }
        [data-dpr="2"] #share .share-content .share-profit .share-profit-title > span {
          font-size: 30px !important; }
        [data-dpr="3"] #share .share-content .share-profit .share-profit-title > span {
          font-size: 45px !important; }
      #share .share-content .share-profit .share-profit-title > span:before {
        width: 0.0533333333rem;
        height: 0.2666666667rem;
        content: "";
        display: inline-block;
        margin-right: 0.1333333333rem;
        background-color: #1873f2; }
      #share .share-content .share-profit .share-profit-title label {
        color: #999999;
        display: flex;
        align-items: center;
        justify-content: center; }
        #share .share-content .share-profit .share-profit-title label span {
          margin-right: 0.1333333333rem; }
        #share .share-content .share-profit .share-profit-title label img {
          width: 0.2rem;
          height: 0.2666666667rem; }
    #share .share-content .share-profit .share-number {
      margin-top: 0.2666666667rem;
      white-space: normal; }
      #share .share-content .share-profit .share-number p {
        width: 49%;
        text-align: center;
        display: inline-block;
        flex-direction: column;
        padding: 0.4rem 0;
        border-top: 0.0266666667rem solid #f2f2f2; }
        #share .share-content .share-profit .share-number p span {
          display: block;
          font-size: 16px !important; }
          [data-dpr="2"] #share .share-content .share-profit .share-number p span {
            font-size: 32px !important; }
          [data-dpr="3"] #share .share-content .share-profit .share-number p span {
            font-size: 48px !important; }
        #share .share-content .share-profit .share-number p label {
          display: block;
          margin-top: 0.2rem;
          font-size: 16px !important;
          color: #333; }
          [data-dpr="2"] #share .share-content .share-profit .share-number p label {
            font-size: 32px !important; }
          [data-dpr="3"] #share .share-content .share-profit .share-number p label {
            font-size: 48px !important; }
  #share .share-content .share-rule {
    padding: 0.4rem; }
    #share .share-content .share-rule p {
      font-size: 14px !important; }
      [data-dpr="2"] #share .share-content .share-rule p {
        font-size: 28px !important; }
      [data-dpr="3"] #share .share-content .share-rule p {
        font-size: 42px !important; }

/*# sourceMappingURL=share.css.map */
