<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>止损单</title>
		<script src="/PQ/static/js/flexible.js"></script>
		<script src="/PQ/static/js/mui.js"></script>
		<link href="/PQ/static/css/mui.min.css" rel="stylesheet"/>
		<link href="/PQ/static/js/layui/css/layui.css"/>
	</head>
	<body class="layer-mask">
		<div id="stopOrder" v-cloak>
			<header id="stopOrder-header" class="header-nav mui-bar mui-bar-nav">
				<a class="header-right-icon mui-pull-left" @tap="backBtn">
					<img class="header-icon" src="/PQ/static/img/arrow-left.png"/>
				</a>
				<h1 class="mui-title">
					止损单
				</h1>
			</header>
			<div class="header-content">
				<div class="top-tap">
					<span @tap="switchTab(1)" :class="['tap-item',showPage==1?'tap-item-active':'']">未触发列表</span>
					<span @tap="switchTab(2)" :class="['tap-item',showPage==2?'tap-item-active':'']">已触发列表</span>
				</div>
				<!-- <div class="list-box list-title">
				</div> -->
				<div class="stop-item" v-show="showPage==1">
					<div id="titleScroll1" class="title-scroll mui-scroll-wrapper">
						<div class="mui-scroll list-box list-title">
							<span class="list-item1">合约名称</span>
							<span class="list-item2">状态</span>
							<span class="list-item3">多空</span>
							<span class="list-item4">类别</span>
							<span class="list-item5">手数</span>
							<span class="list-item6">触发条件</span>
							<span class="list-item7">委托价</span>
							<span class="list-item8">有效期</span>
							<span class="list-item9 list-item-time">下单时间</span>
						</div>
					</div>
					<div id="listScroll1" class="list-scroll mui-scroll-wrapper">
						<div class="mui-scroll">
							<div v-for="(item,index) in stopLossList" :key="index">
								<div @tap="chooseStopItem(item,index)" :class="['list-box','list-item',selectStopIndex==index?'list-item-active':'']" v-if="item.Status==0||item.Status==1">
									<span class="list-item1">{{item.CommodityNo}}{{item.ContractNo}}</span>
									<span class="list-item2">{{item.Status==0?'运行中':item.Status==1?'暂停':item.Status==2?'已触发':item.Status==3?'已取消':item.StatusMsg}}</span>
									<span class="list-item3">{{item.HoldDirection==0?'多':'空'}}</span>
									<span class="list-item4">{{item.StopLossTypeName}}</span>
									<span class="list-item5">{{item.Num}}</span>
									<span class="list-item6">达到{{item.StopLossPrice}}</span>
									<span class="list-item7">市价</span>
									<span class="list-item8">永久有效</span>
									<span class="list-item9">{{item.InsertDateTime}}</span>
								</div>
								<div class="option-item" v-if="selectStopIndex==index">
									<div class="option-wrap">
										<span @tap="optionBtn(1)">{{item.Status&&item.Status==1?'开启':item.Status&&item.Status==0?'暂停':'暂停'}}</span>
										<span @tap="optionBtn(2)">修改</span>
										<span @tap="optionBtn(3)">删除</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="stop-item stop-item2" v-show="showPage==2">
					<div id="titleScroll2" class="title-scroll mui-scroll-wrapper">
						<div class="mui-scroll list-box list-title">
							<span class="list-item1">合约名称</span>
							<span class="list-item2">状态</span>
							<span class="list-item3">多空</span>
							<span class="list-item4">类别</span>
							<span class="list-item5">手数</span>
							<span class="list-item6">触发条件</span>
							<span class="list-item7">委托价</span>
							<span class="list-item8">有效期</span>
							<span class="list-item9 list-item-time">下单时间</span>
						</div>
					</div>
					<div id="listScroll2" class="list-scroll mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="list-box list-item" v-if="item.Status!=0&&item.Status!=1" v-for="(item,index) in stopLossList" :key="index">
								<span class="list-item1">{{item.CommodityNo}}{{item.ContractNo}}</span>
								<span class="list-item2">{{item.Status==0?'运行中':item.Status==1?'暂停':item.Status==2?'已触发':item.Status==3?'已取消':item.StatusMsg}}</span>
								<span class="list-item3">{{item.HoldDirection==0?'多':'空'}}</span>
								<span class="list-item4">{{item.StopLossTypeName}}</span>
								<span class="list-item5">{{item.Num}}</span>
								<span class="list-item6">达到{{item.StopLossPrice}}</span>
								<span class="list-item7">市价</span>
								<span class="list-item8">永久有效</span>
								<span class="list-item9">{{item.InsertDateTime}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="stop-info">
					<ul>
						<li class="info-title">温馨提示</li>
						<li class="info-item">1.云端止损单，只保证触发，不保证成交</li>
						<li class="info-item">2.暂不显示支持套利止损单</li>
					</ul>
				</div>
				<!-- 止盈止损弹出框 -->
				<div id="stopProfitLossLayer" class="layer-box">
					<div class="layer-content layer-tabs">
						<div class="layer-header-tab">
							<span @tap='switchLayerTab(0)' :class="layerTabIndex==0?'layer-header-tab-active':''">止损</span>
							<span @tap='switchLayerTab(1)' :class="layerTabIndex==1?'layer-header-tab-active':''">止盈</span>
						</div>
						<div class="layer-tab-item" v-show="layerTabIndex==0">
							<!-- 止损 -->
							<div class="tab-item">
								<span class="item-flex border-right item-title">合约</span>
								<span class="item-flex item-flex-4">
									<span class="item-flex item-flex-2 border-right">{{selectContractItem.CommodityNo}}{{selectContractItem.ContractNo}}</span>
									<span class="item-flex item-flex-1 border-right">{{selectContractItem.HoldDirection==0?'多':'空'}}</span>
									<span class="item-flex item-flex-2">最新:<span>{{selectContractLastData[3]}}</span></span>
								</span>
							</div>
							<div class="tab-item">
								<span class="item-flex border-right item-title">方式</span>
								<span class="item-flex item-flex-4 item-between">
									<span class="option-box triangle item-flex-2">
										<select v-model="stopLossType">
											<option value="0">止损价</option>
											<option value="1">动态价</option>
										</select>
									</span>
									<input class="option-box item-flex-2" type="text" @input="setStopLossPrice" v-model="stopLossPrice"/>
									<span class="item-flex-1">{{stopLossRate.toFixed(2)}}%</span>
								</span>
							</div>
							<div class="tab-item no-padding">
								<span class="item-flex no-border border-right item-title">手数</span>
								<span class="item-flex no-border item-flex-4 item-between">
									<span class="item-flex input-box border-right">
										<input type="number" v-model="stopNum"/>
									</span>
									<span class="item-flex handNum-box item-flex-2 border-right">
										止损委托价:
									</span>
									<span class="item-flex item-flex-1">
										市价
										<!-- <span class="option-box triangle">
											<select v-model="stopLossType">
												<option value="0">市价</option>
												<option value="1">限价</option>
											</select>
										</span> -->
									</span>
								</span>
							</div>
						</div>
						<div class="layer-tab-item" v-show="layerTabIndex==1">
							<!-- 止盈 -->
							<div class="tab-item">
								<span class="item-flex border-right item-title">合约</span>
								<span class="item-flex item-flex-4">
									<span class="item-flex item-flex-2 border-right">{{selectContractItem.CommodityNo}}{{selectContractItem.ContractNo}}</span>
									<span class="item-flex item-flex-1 border-right">{{selectContractItem.HoldDirection==0?'多':'空'}}</span>
									<span class="item-flex item-flex-2">最新:<span>{{selectContractLastData[3]}}</span></span>
								</span>
							</div>
							<div class="tab-item">
								<span class="item-flex border-right item-title">止盈价</span>
								<span class="item-flex item-flex-4">
									<input class="option-box item-flex-2" type="number" @input="setStopProfitPrice" v-model="stopProfitPrice"/>
									<span class="item-flex-3" style="text-align: left;">{{stopProfitRate.toFixed(2)}}%</span>
								</span>
							</div>
							<div class="tab-item">
								<span class="item-flex no-border border-right item-title">手数</span>
								<span class="item-flex no-border item-flex-4 item-between">
									<span class="item-flex input-box border-right">
										<input type="number" v-model="stopNum"/>
									</span>
									<span class="item-flex handNum-box item-flex-2 border-right">
										止损委托价:
									</span>
									<span class="item-flex item-flex-1">
										市价
										<!-- <span class="option-box triangle">
											<select v-model="stopLossType">
												<option value="0">市价</option>
												<option value="1">限价</option>
											</select>
										</span> -->
									</span>
								</span>
							</div>
						</div>
					</div>
					<div class="layer-btn">
						<span class="border-right" @tap="layerInfoBtn(1)">关闭</span>
						<span @tap="layerInfoBtn(2)">修改</span>
					</div>
				</div>
				<!-- 确认交易弹出框 -->
				<div id="confirmInfoLayer" class="layer-box">
					<img @tap="closeLayer" class="close-icon" src="/PQ/static/img/layerClose.png"/>
					<div class="layer-header">
						确认删除
					</div>
					<div class="layer-content">
						是否删除该止损止盈单
					</div>
					<div class="layer-btn">
						<span class="border-right" @tap="layerInfoBtn(1)">取消</span>
						<span @tap="layerInfoBtn(2)">确认</span>
					</div>
				</div>
			</div>
			
		</div>
		
		<!-- jquery -->
		<script src="/PQ/static/js/jquery-1.11.3.js"></script>
		<!-- 压缩版vue -->
		<!-- <script src="/PQ/static/js/vue.min.js"></script> -->
		<!-- 开发版vue -->
		<script src="/PQ/static/js/vue.js"></script>
		<!-- 引入vux -->
		<script src="/PQ/static/js/vuex.js"></script>
		<!-- base64 -->
		<script src="/PQ/static/js/base64.js"></script>
		<!-- 引入axios -->
		<script src="/PQ/static/js/axios.min.js"></script>
		<script src="/PQ/static/js/layui/layui.js"></script>
		<!-- <script src="/PQ/WPJS/stopOrderWP.js"></script> -->
	</body>
</html>
