<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>搜索</title>
    <script src="/PQ/static/js/flexible.js"></script>
    <script src="/PQ/static/js/mui.js"></script>
    <link href="/PQ/static/css/mui.min.css" rel="stylesheet">
    <link href="/PQ/static/js/layui/css/layui.css" rel="stylesheet">
</head>
<body class="layer-mask">
<div id="search" class="header-content" v-cloak>
    <header class="header-nav mui-bar mui-bar-nav">
        <a class="header-right-icon mui-pull-left" @tap="back">
            <img class="header-icon" src="/PQ/static/img/discover/back.png" alt="">
        </a>
        <h1 class="mui-title">
            搜索
        </h1>
    </header>

    <div id="message">
        <div class="search-box">
            <div class="search">
                <img src="/PQ/static/img/discover/search.png">
                <label>
                    <input type="text" v-model="keyword">
                </label>
            </div>
        </div>
        <div class="search-tab">
            <label class="active">快讯</label>
        </div>
        <div class="message-date-title">{{messageDate}}&nbsp;&nbsp;{{messageWeek}}</div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="message-list">
                    <ul class="layui-timeline">
                        <li @tap="showMessageMore" v-for="(i,k) in tempList" :key="k" class="layui-timeline-item">
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">{{i.liveCreateTime.split(" ")[1]}}</h3>
                                <p v-html="i.liveTitle"></p>
                            </div>
                            <span class="open"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/PQ/static/js/jquery-1.11.3.js"></script>
<!-- 压缩版vue -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<!-- 开发版vue -->
<script src="/PQ/static/js/vue.js"></script>
<!-- 引入vux -->
<script src="/PQ/static/js/vuex.js"></script>
<script src="/PQ/js/moment.js"></script>
<script src="/PQ/static/js/axios.min.js"></script>
<script src="/PQ/static/js/layui/layui.js"></script>
<!-- <script src="/PQ/WPJS/searchWP.js"></script> -->
<script>
</script>
<script type="text/javascript" src="/PQ/WPJS/searchWP.js?88fa20424cec03a75413"></script></body>
</html>
