<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>资金明细</title>
		<script src="/PQ/static/js/flexible.js"></script>
		<script src="/PQ/static/js/mui.js"></script>
		<link href="/PQ/static/css/mui.min.css" rel="stylesheet"/>
		<link href="/PQ/static/js/layui/css/layui.css"/>
	</head>
	<body class="layer-mask">
		<div id="capital" v-cloak>
			<header class="header-nav mui-bar mui-bar-nav">
				<a class="header-right-icon mui-pull-left" @tap="backBtn">
					<img class="header-icon" src="/PQ/static/img/arrow-left.png"/>
				</a>
				<h1 class="mui-title">
					资金明细
				</h1>
				<a class="header-right-icon mui-pull-right" @tap="customLayer">
					<img class="header-icon" src="/PQ/static/img/custom.png"/>
				</a>
			</header>
			<div class="capital-content header-content">
				<div class="total-info">
					<div class="total-item">
						<span>收入:</span>
						<span class="unit"><span class="num">{{income.num}}</span>笔</span>
						<span class="unit"><span class="num">{{income.price.toFixed(2)}}</span>元</span>
					</div>
					<div class="total-item">
						<span>支出:</span>
						<span class="unit"><span class="num">{{outcome.num}}</span>笔</span>
						<span class="unit"><span class="num">{{outcome.price.toFixed(2)}}</span>元</span>
					</div>
				</div>
				<div class="captial-list">
					<div class="captial-scroll mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="captial-item" v-for="(item,index) in recordList" :key="index" v-if="item.amount!=0">
								<div class="captial-time">
									{{item.date}}
								</div>
								<div class="captial-value">
									<span :class="['captial-price',item.type==1?'colorUp':'colorDown']"><span v-if="item.type==1">+</span><span v-if="item.type==2">-</span>{{item.amount}}&nbsp;元</span>
									<span>{{item.describe}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="wxLayer" class="layer-box">
				<div class="layer-header">请任意选择一种添加微信</div>
				<div class="layer-content">
					<div class="wx-add">
						<span class="title">1、扫描二维码</span>
						<img :src="wxPic">
						<span class="notice">*请截屏后在微信中扫描二维码</span>
						<span class="title">2、复制微信号</span>
						<input :value="wxUrl" id="wxUrl" readonly>
						<label @tap="openWX" class="open-wx">复制并打开微信</label>
					</div>
				</div>
				<div class="layer-btn">
					<span @tap="hideWX">取消</span>
				</div>
			</div>
			<!-- 客服弹窗 -->
			<div id="customLayer" class="layer-box">
				<div class="custom-item" @tap="chooseCustomer('电话客服')">
					<img src="/PQ/static/img/custom/phone.png"/>
					<span>{{phoneCustomer}}</span>
				</div>
				<div class="custom-item" @tap="chooseCustomer('在线客服')">
					<img src="/PQ/static/img/custom/message.png"/>
					<span>在线客服</span>
				</div>
				<div class="custom-item" @tap="chooseCustomer('qq客服')">
					<img src="/PQ/static/img/custom/qq.png"/>
					<span>QQ在线</span>
				</div>
				<div class="custom-item" @tap="chooseCustomer('微信客服')">
					<img src="/PQ/static/img/custom/wechat.png"/>
					<span>微信客服</span>
				</div>
			</div>
		</div>
		<!-- jquery -->
		<script src="/PQ/static/js/jquery-1.11.3.js"></script>
		<!-- 压缩版vue -->
		<!-- <script src="/PQ/static/js/vue.min.js"></script> -->
		<!-- 开发版vue -->
		<script src="/PQ/static/js/vue.js"></script>
		<!-- 引入vux -->
		<script src="/PQ/static/js/vuex.js"></script>
		<!-- 引入axios -->
		<script src="/PQ/static/js/axios.min.js"></script>
		<!-- layui -->
		<script src="/PQ/static/js/layui/layui.js"></script>
		<!-- layui -->
		<script src="/PQ/static/js/layui/layui.js"></script>
		<!-- <script src="/PQ/WPJS/capitalRecordWP.js"></script> -->
	</body>
</html>
