@import '../../../css/common.scss';
#contractRule{
	height: 100%;
	background: $mainColor;
	#main{
		position: relative;
		.contractRule-content{
			@include font-dpr(14px);
			top: px2rem(100px);
			width: 100%;
			@include font-dpr(14px);
			color:$defaultFontColor;
			.mui-scroll{
				padding-top: px2rem(60px);
			}
			.item-box{
				margin-bottom:px2rem(60px);
				.item-title{
					margin-bottom: px2rem(30px);
					font-weight: bold;
				}
			}
			.no-margin{
				margin-bottom: 0;
			}
			.table-box{
				.item-title{
					padding: 0 px2rem(30px);
					@include font-dpr(16px);
				}
				.table-wrap{
					border-top: solid px2rem(1px) $itemColor;
					.table-item{
						display: flex;
						min-height: px2rem(80px);
						border-bottom: solid px2rem(1px) $itemColor;
						.table-item-span{
							flex: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-right: solid px2rem(1px) $itemColor;
						}
						.table-item-span:last-child{
							flex: 2;
							border-right: none;
						}
						.table-time{
							display: flex;
							flex-direction: column;
							padding: px2rem(30px) 0;
						}
					}
				}
			}
			.item-static{
				padding: px2rem(30px);
				.notice{
					color: $fontGrayColor;
					.notice-tip{
						color: #ff7e00;
					}
				}
				.item-static-text{
					margin-top: px2rem(60px);
					.item-static-title{
						@include font-dpr(16px);
						font-weight: bold;
						margin-bottom: px2rem(30px);
					}
					.item-static-content{
						@include font-dpr(14px);
					}
				}
			}
		}
	}
}