<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>极速开户</title>
    <script src="/PQ/static/js/flexible.js"></script>
    <script src="/PQ/static/js/mui.js"></script>
    <link href="/PQ/static/css/mui.min.css" rel="stylesheet"/>
    <link href="/PQ/static/js/layui/css/layui.css" rel="stylesheet"/>

</head>
<body class="layer-mask">
<div id="register" class="header-content" v-cloak>
    <header class="header-nav mui-bar mui-bar-nav">
        <a class="header-right-icon mui-pull-left" @tap="back">
            <img class="header-icon" src="/PQ/static/img/discover/back.png" alt=""/>
        </a>
        <h1 class="mui-title">
            极速开户
        </h1>
        <a class="header-right-icon mui-pull-right" @tap="showService">
            <img class="header-icon" src="/PQ/static/img/custom.png" alt=""/>
        </a>
    </header>
    <div class="register-box">
        <div>
            <span>手机</span>
            <label>
                <input type="tel" v-model="form.mobile">
            </label>
            <label>
                <img @tap="clearInput" src="/PQ/static/img/discover/close.png" alt="">
            </label>
        </div>
        <div>
            <span>验证码</span>
            <label>
                <input autocomplete="off" type="text" v-model="form.code">
            </label>
            <label>
                <small>|&nbsp;</small>
                <small class="code" @tap="btnCallback($event,2)">{{codeText}}</small>
            </label>
        </div>
        <div>
            <span>密码</span>
            <label>
                <input placeholder="6-16位数字加字母的组合" autocomplete="new-password" :type="isShowPassword?'text':'password'" v-model="form.password">
            </label>
            <label @tap="showPassword">
                <img v-if="isShowPassword" class="open-pwd" src="/PQ/static/img/discover/eyeso.png" alt="">
                <img v-else class="open-pwd" src="/PQ/static/img/discover/eyesc.png" alt="">
            </label>
        </div>
        <div>
            <span>邀请码</span>
            <label>
                <input placeholder="(非必填)" type="number" v-model="form.inviteCode">
            </label>
        </div>
    </div>
    <div class="register-btn" @tap="btnCallback($event,1)">开户</div>
    <div class="register-register"
         @tap="goPage('/PQ/pages/my/login/login.html',{backPage:'/PQ/pages/register/register.html',loginBackPage:'/PQ/pages/my/my.html'})">
        已有账号？立即登录
    </div>
    <div class="register-agreement">
        <input id="check" type="checkbox" checked>
        &nbsp;&nbsp;我已阅读，并同意<a @tap="goPage('/PQ/pages/my/agreement/agreement.html')">《开户协议》</a>
    </div>

    <div class="chart-dialog">
        <h3>请输入图形验证码</h3>
        <div class="dialog-input">
            <input autofocus="autofocus" type="number" v-model="imgCode">
            <img @tap="changeImageCode" id="imageCode" src="" alt="">
        </div>
        <div class="dialog-action">
            <label @tap="btnCallback($event,4)">取消</label>
            <label @tap="btnCallback($event,3)">确认</label>
        </div>
        <span @tap="btnCallback($event,4)">
                <img src="/PQ/static/img/discover/close.png" alt="">
            </span>
    </div>
    <div id="wxLayer" class="layer-box">
        <div class="layer-header">请任意选择一种添加微信</div>
        <div class="layer-content">
            <div class="wx-add">
                <span class="title">1、扫描二维码</span>
                <img :src="wxPic">
                <span class="notice">*请截屏后在微信中扫描二维码</span>
                <span class="title">2、复制微信号</span>
                <input :value="wxUrl" id="wxUrl" readonly>
                <label @tap="openWX" class="open-wx">复制并打开微信</label>
            </div>
        </div>
        <div class="layer-btn">
            <span @tap="hideWX">取消</span>
        </div>
    </div>
    <div id="customLayer" class="layer-box">
        <div @tap="customService(i)" class="custom-item" v-for="(i,k) in customContact">
            <img :src="i.imgUrl"/>
            <span>{{i.customerName}}</span>
        </div>
    </div>

    <div id="registerActivity" class="layer-box">
        <!--<img @tap="hideDialog" class="close-icon" src="/PQ/static/img/layerClose.png"/>-->
        <div class="layer-header">开户活动</div>
        <div class="layer-content">
            <div v-if="registerRed" :class="registerRed.couponType == '010' ? 'coupon':'coupon discount'">
                <span>￥&nbsp;<span>{{registerRed.faceValue}}</span></span>
                <span>{{registerRed.couponType == '010'?'(现金红包)':'(手续费红包)'}}</span>
            </div>
			<div v-if="simAmount" class="coupon discount">
			    <span>￥&nbsp;<span>{{simAmount}}</span></span>
			    <span>(交易模拟金)</span>
			</div>
            <p>Tip:红包已放入我的红包，体验金可在模拟交易查看</p>
        </div>
        <div class="layer-btn">
            <span @tap="goTrade(0)">去模拟盘交易</span>
            <span @tap="goTrade(1)">去实盘交易</span>
        </div>
    </div>

</div>

<script src="/PQ/static/js/jquery-1.11.3.js"></script>
<!-- 压缩版vue -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<!-- 开发版vue -->
<script src="/PQ/static/js/vue.js"></script>
<!-- 引入vux -->
<script src="/PQ/static/js/vuex.js"></script>
<!-- 引入axios -->
<script src="/PQ/static/js/axios.min.js"></script>
<script src="/PQ/static/js/layui/layui.js"></script>
<!-- <script src="/PQ/WPJS/registerWP.js"></script> -->
<script>
</script>
</body>
</html>