<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>条件单</title>
		<script src="/PQ/static/js/flexible.js"></script>
		<script src="/PQ/static/js/mui.js"></script>
		<link href="/PQ/static/css/mui.min.css" rel="stylesheet"/>
		<link href="/PQ/static/css/mui.picker.css" rel="stylesheet"/>
		<link href="/PQ/static/css/mui.poppicker.css" rel="stylesheet"/>
		<link href="/PQ/static/js/layui/css/layui.css"/>
		<link href="/PQ/static/css/mui.indexedlist.css" rel="stylesheet"/>
	</head>
	<body class="layer-mask">
		<div id="conditionOrder" v-cloak>
			<header id="condition-header" class="header-nav mui-bar mui-bar-nav">
				<a class="header-right-icon mui-pull-left" @tap="backBtn">
					<img class="header-icon" src="/PQ/static/img/arrow-left.png"/>
				</a>
				<h1 class="mui-title">
					条件单
				</h1>
				<a class="header-right-icon mui-pull-right" @tap="addConditionBtn">
					<img class="header-icon" src="/PQ/static/img/circle_add.png"/>
				</a>
			</header>
			<div class="header-content">
				<div class="top-tap">
					<span @tap="switchTab(1)" :class="['tap-item',showPage==1?'tap-item-active':'']">未触发列表</span>
					<span @tap="switchTab(2)" :class="['tap-item',showPage==2?'tap-item-active':'']">已触发列表</span>
				</div>
				<div class="condition-item" v-show="showPage==1">
					<div id="titleScroll1" class="title-scroll mui-scroll-wrapper">
						<div class="mui-scroll list-box list-title">
							<span class="list-item1">合约名称</span>
							<span class="list-item2">状态</span>
							<span class="list-item3">类型</span>
							<span class="list-item4">条件</span>
							<!-- <span class="list-item5">委托价/时间</span> -->
							<span class="list-item6">下单</span>
							<span class="list-item7">有效期</span>
							<span class="list-item8 list-item-time">下单时间</span>
						</div>
					</div>
					<div id="listScroll1" class="list-scroll mui-scroll-wrapper">
						<div class="mui-scroll">
							<div v-for="(item,index) in conditionList" :key="index">
								<div @tap="chooseConditionItem(item,index)" :class="['list-box','list-item',selectConditionIndex==index?'list-item-active':'']" v-if="item.Status==0||item.Status==1" >
									<span class="list-item1">{{item.CommodityNo}}{{item.ContractNo}}</span>
									<span class="list-item2">{{item.Status==0?'运行中':item.Status==1?'暂停':item.Status==2?'已触发':item.Status==3?'已取消':item.StatusMsg}}</span>
									<span class="list-item3">{{item.ConditionType==0?'价格条件':'时间条件'}}</span>
									<span class="list-item4">{{item.ConditionType==0?item.CompareType==0?'&gt'+item.PriceTriggerPonit:item.CompareType==1?'&lt'+item.PriceTriggerPonit:item.CompareType==2?'&gt='+item.PriceTriggerPonit:item.CompareType==3?'&lt='+item.PriceTriggerPonit:'-':item.TimeTriggerPoint.split(' ')[1]}}
										<span v-if="item.AdditionFlag">;{{item.ConditionType==0?item.AdditionType==0?'&gt':item.AdditionType==1?'&lt':item.AdditionType==2?'&gt=':item.AdditionType==3?'&lt=':'-':'='}}{{item.AdditionPrice}}</span>
									</span>
									<!-- <span class="list-item5">{{item.ConditionType==0?item.PriceTriggerPonit:item.TimeTriggerPoint}}</span> -->
									<span class="list-item6">{{item.Direction==0?'买':'卖'}},市价,{{item.Num}}手</span>
									<span class="list-item7">永久</span>
									<span class="list-item8">{{item.InsertDateTime}}</span>
								</div>
								<div class="option-item" v-if="selectConditionIndex==index">
									<div class="option-wrap">
										<span @tap="optionBtn(1)">{{item.Status&&item.Status==1?'开启':item.Status&&item.Status==0?'暂停':'暂停'}}</span>
										<span @tap="optionBtn(2)">修改</span>
										<span @tap="optionBtn(3)">删除</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="condition-item condition-item2" v-show="showPage==2">
					<div id="titleScroll2" class="title-scroll mui-scroll-wrapper">
						<div class="mui-scroll list-box list-title">
							<span class="list-item1">合约名称</span>
							<span class="list-item2">状态</span>
							<span class="list-item3">多空</span>
							<span class="list-item4">类别</span>
							<span class="list-item5">手数</span>
							<span class="list-item6">触发条件</span>
							<span class="list-item7">委托价</span>
							<span class="list-item8">有效期</span>
							<span class="list-item9 list-item-time">下单时间</span>
						</div>
					</div>
					<div id="listScroll2" class="list-scroll mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="list-box list-item" v-if="item.Status!=0&&item.Status!=1" v-for="(item,index) in conditionList" :key="index">
								<span class="list-item1">{{item.CommodityNo}}{{item.ContractNo}}</span>
								<span class="list-item2">{{item.Status==0?'运行中':item.Status==1?'暂停':item.Status==2?'已触发':item.Status==3?'已取消':item.StatusMsg}}</span>
								<span class="list-item3">{{item.Direction==0?'多':'空'}}</span>
								<span class="list-item4">{{item.ConditionType==0?'价格条件':'时间条件'}}</span>
								<span class="list-item5">{{item.Num}}</span>
								<!-- <span class="list-item6">{{item.ConditionType==0?item.CompareType==0?'&gt':item.CompareType==1?'&lt':item.CompareType==2?'&gt=':item.CompareType==3?'&lt=':'-':'='}}</span> -->
								<span class="list-item6">{{item.ConditionType==0?item.CompareType==0?'&gt'+item.PriceTriggerPonit:item.CompareType==1?'&lt'+item.PriceTriggerPonit:item.CompareType==2?'&gt='+item.PriceTriggerPonit:item.CompareType==3?'&lt='+item.PriceTriggerPonit:'-':item.TimeTriggerPoint.split(' ')[1]}}
									<span v-if="item.AdditionFlag">;{{item.ConditionType==0?item.AdditionType==0?'&gt':item.AdditionType==1?'&lt':item.AdditionType==2?'&gt=':item.AdditionType==3?'&lt=':'-':'='}}{{item.AdditionPrice}}</span>
								</span>
								<span class="list-item7">{{item.PriceTriggerPonit}}</span>
								<span class="list-item8">永久有效</span>
								<span class="list-item9">{{item.InsertDateTime}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="condition-info">
					<ul>
						<li class="info-title">温馨提示</li>
						<li class="info-item">1.云端止损单，只保证触发，不保证成交</li>
						<li class="info-item">2.暂不显示支持套利止损单</li>
					</ul>
				</div>
			</div>
			
			<!-- 添加条件单弹窗 -->
			<div id="conditionLayer" class="conditionLayer layer-box">
				<div class="layer-content layer-tabs">
					<div class="layer-header-tab">
						<span @tap='switchLayerTab(0)' :class="layerTabIndex==0?'layer-header-tab-active':''">价格条件</span>
						<span @tap='switchLayerTab(1)' :class="layerTabIndex==1?'layer-header-tab-active':''">时间条件</span>
					</div>
					<div class="layer-tab-item" v-show="layerTabIndex==0">
						<div class="tab-item">
							<span class="item-flex border-right item-flex-1">合约</span>
							<span class="item-flex item-flex-4 item-between">
								<a v-if="confirmInfoType == 1" @tap="switchContract" class="option-box item-flex-1 triangle">
									<span >{{selectContract.commodity_name}}</span>
								</a>
								<span v-if="confirmInfoType == 2" class="option-box item-flex-1">{{selectContract.commodity_name}}</span>
								<span class="item-flex-1">最新:{{selectContractLastData[3]}}</span>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex border-right item-flex-1">价格</span>
							<span class="item-flex item-flex-4 item-between price-box">
								<span class="option-box triangle">
									<select v-model="conditionObj.compareType">
										<option value="0"> &gt; </option>
										<option value="1"> &lt; </option>
										<option value="2"> &gt;= </option>
										<option value="3"> &lt;= </option>
									</select>
								</span>
								<input class="option-box price-box-value" type="number" v-model="conditionObj.triggerPrice"/>
								<span class="option-box triangle">
									<select v-model="conditionObj.additionType">
										<option value="-1">附加</option>
										<option value="0"> &gt; </option>
										<option value="1"> &lt; </option>
										<option value="2"> &gt;= </option>
										<option value="3"> &lt;= </option>
									</select>
								</span>
								<input class="option-box" type="number" :disabled="conditionObj.additionType==-1" v-model="conditionObj.additionPrice"/>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex border-right item-flex-1">操作</span>
							<span class="item-flex item-flex-4 item-between">
								<span class="option-box triangle">
									<select v-model="conditionObj.direction">
										<option value="0">买</option>
										<option value="1">卖</option>
									</select>
								</span>
								<span class="option-box triangle">
									<select>
										<option>市价</option>
										<option>对手价</option>
									</select>
								</span>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex border-right item-flex-1">手数</span>
							<div class="item-flex item-flex-4 item-between">
								<input class="option-box" type="number" v-model="conditionObj.Num"/>
							</div>
						</div>
						<div class="tab-item">
							<span class="item-flex no-border item-flex-1 border-right">有效</span>
							<span class="item-flex no-border item-flex-4 item-between">永久有效</span>
						</div>
					</div>
					<div class="layer-tab-item" v-show="layerTabIndex==1">
						<div class="tab-item">
							<span class="item-flex item-flex-1 border-right">合约</span>
							<span class="item-flex item-flex-4 item-between">
								<a v-if="confirmInfoType == 1" @tap="switchContract" class="option-box item-flex-1 triangle">
									<span >{{selectContract.commodity_name}}</span>
								</a>
								<span v-if="confirmInfoType == 2" class="option-box item-flex-1">{{selectContract.commodity_name}}</span>
								<span class="item-flex-1">最新:{{selectContractLastData[3]}}</span>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex item-flex-1 border-right">时间</span>
							<span class="item-flex item-flex-4 item-between">
								<!-- <input id="timeInput1" class="option-box" type="text" v-model="conditionObj.triggerTime"/> -->
								<span class="option-box item-flex-1" @tap="chooseTime">{{conditionObj.triggerTime}}</span>
								<span class="item-flex-1"></span>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex item-flex-1 border-right">价格</span>
							<span class="item-flex item-flex-4 item-between">
								<span class="option-box triangle">
									<select v-model="conditionObj.additionType">
										<option value="-1">附加</option>
										<option value="0"> &gt; </option>
										<option value="1"> &lt; </option>
										<option value="2"> &gt;= </option>
										<option value="3"> &lt;= </option>
									</select>
								</span>
								<input class="option-box" type="number" :disabled="conditionObj.additionType==-1" v-model="conditionObj.additionPrice"/>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex no-border item-flex-1 border-right">操作</span>
							<span class="item-flex item-flex-4 no-border item-between">
								<span class="option-box triangle">
									<select v-model="conditionObj.direction">
										<option value="0">买</option>
										<option value="1">卖</option>
									</select>
								</span>
								<span class="option-box triangle">
									<select>
										<option>市价</option>
										<option>对手价</option>
									</select>
								</span>
							</span>
						</div>
						<div class="tab-item">
							<span class="item-flex item-flex-1 border-right">手数</span>
							<span class="item-flex item-flex-4 item-between">
								<input class="option-box" type="number" v-model="conditionObj.Num"/>
							</span>
						</div>
					</div>
				</div>
				<div class="layer-btn">
					<span class="border-right" @tap="layerInfoBtn(1)">关闭</span>
					<span @tap="layerInfoBtn(2)">添加</span>
				</div>
			</div>
			
			<!-- 确认删除弹出框 -->
			<div id="confirmInfoLayer" class="layer-box">
				<img @tap="closeLayer" class="close-icon" src="/PQ/static/img/layerClose.png"/>
				<div class="layer-header">
					系统提示
				</div>
				<div class="layer-content">
					确认删除?
				</div>
				<div class="layer-btn">
					<span class="border-right" @tap="layerInfoBtn(1)">取消</span>
					<span @tap="layerInfoBtn(2)">确认</span>
				</div>
			</div>
			<div id="contractSelect" class="layer-box">
				<div id='list' class="mui-indexed-list">
					<div class="mui-indexed-list-search mui-input-row mui-search" style="display: none;">
						<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索机场">
					</div>
					<div class="mui-indexed-list-bar">
						<a>A</a>
						<a>B</a>
						<a>C</a>
						<a>D</a>
						<a>E</a>
						<a>F</a>
						<a>G</a>
						<a>H</a>
						<a>I</a>
						<a>J</a>
						<a>K</a>
						<a>L</a>
						<a>M</a>
						<a>N</a>
						<a>O</a>
						<a>P</a>
						<a>Q</a>
						<a>R</a>
						<a>S</a>
						<a>T</a>
						<a>U</a>
						<a>V</a>
						<a>W</a>
						<a>X</a>
						<a>Y</a>
						<a>Z</a>
					</div>
					<div class="mui-indexed-list-alert"></div>
					<div class="mui-indexed-list-inner">
						<div id="contractScroll" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<!-- <li :data-group="item.firstLetter" v-for="(item,index) in contractData" :key="index" class="contract-item">{{item.contractName}}</li> -->
									<li v-for="(item,index) in contractData" :key="index">
										<span :data-group="item.Title" class="contract-title">{{item.Title}}</span>
										<span @tap="selectContractBtn(i)" v-for="(i,index2) in item.List" :key="index2" class="contract-item">{{i.contractName}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- jquery -->
		<script src="/PQ/static/js/jquery-1.11.3.js"></script>
		<!-- 压缩版vue -->
		<!-- <script src="/PQ/static/js/vue.min.js"></script> -->
		<!-- 开发版vue -->
		<script src="/PQ/static/js/vue.js"></script>
		<!-- 引入vux -->
		<script src="/PQ/static/js/vuex.js"></script>
		<!-- base64 -->
		<script src="/PQ/static/js/base64.js"></script>
		<!-- 引入axios -->
		<script src="/PQ/static/js/axios.min.js"></script>
		<!-- layui -->
		<script src="/PQ/static/js/layui/layui.js"></script>
		<script src="/PQ/static/js/mui.picker.js"></script>
		<script src="/PQ/static/js/mui.poppicker.js"></script>
		<script src="/PQ/static/js/mui.indexedlist.js"></script>
		<!-- <script src="/PQ/WPJS/conditionOrderWP.js"></script> -->
	</body>
</html>
