<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>首页</title>
		<script src="/PQ/static/js/flexible.js"></script>
		<script src="/PQ/static/js/mui.js"></script>
		<link href="/PQ/static/css/mui.min.css" rel="stylesheet"/>
		<link href="/PQ/static/js/layui/css/layui.css"/>
	</head>
	<body class="layer-mask">
		<div id="home" v-cloak>
			<header class="header-nav mui-bar mui-bar-nav">
				<h1 class="mui-title">首页</h1>
				<a class="header-right-icon mui-pull-right" @tap="customLayer">
					<img class="header-icon" src="/PQ/static/img/custom.png"/>
				</a>
			</header>
			<div class="both-content">
				<div id="scroll1" class="both-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div id="slide" class="mui-slider">
							<div class="mui-slider-group mui-slider-loop" v-if="bannerList.length>0">
								<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
								<div class="mui-slider-item mui-slider-item-duplicate">
									<img :src="imgHttp+bannerList[bannerList.length-1].imgUrl">
								</div>
								<!-- 第一张 -->
								<div @tap="imgPath(item)" class="mui-slider-item" v-for="(item,index) in bannerList" :key="index">
									<img :src="imgHttp+item.imgUrl">
								</div>
								<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
								<div class="mui-slider-item mui-slider-item-duplicate">
									<img :src="imgHttp+bannerList[0].imgUrl">
								</div>
							</div>
							<div class="mui-slider-indicator">
								<div :class="['mui-indicator',index==0?'mui-active':'']" v-for="(item,index) in bannerList"></div>
							</div>
						</div>
						
						<div class="notice-wrap" @tap="goToPage('/PQ/pages/discover/discover.html')">
							<img src="/PQ/static/img/home/notice.png"/>
							<span class="notice-text">
								<span>{{notice.title}}</span>:<span class="notice-content" v-html="notice.content"></span>
							</span>
						</div>
						<div class="quick-wrap">
							<div class="quick-item" @tap="goToPageTop(1)">
								<img src="/PQ/static/img/home/quick1.png"/>
								<span>模拟交易</span>
							</div>
							<div class="quick-item" @tap="goToPageTop(2)">
								<img src="/PQ/static/img/home/quick2.png"/>
								<span>新手指引</span>
							</div>
							<div v-if="!isLogin" class="quick-item" @tap="goToPageTop(3)">
								<img src="/PQ/static/img/home/quick3.png"/>
								<span>极速开户</span>
							</div>
							<div v-if="isLogin" class="quick-item" @tap="goToPageTop(5)">
								<img src="/PQ/static/img/home/quick5.png"/>
								<span>充值入金</span>
							</div>
							<div class="quick-item" @tap="goToPageTop(4)">
								<img src="/PQ/static/img/home/quick4.png"/>
								<span>领红包</span>
							</div>
						</div>
						<div class="top-tap">
							<span @tap="switchQuatoType(1)" :class="['tap-item',quatoType==1?'tap-item-active':'']">国际期货</span>
							<span @tap="switchQuatoType(2)" :class="['tap-item',quatoType==2?'tap-item-active':'']">国内期货</span>
						</div>
						<div class="quato-list">
							<div @tap="chooseQuato(item)" class="quato-item" v-for="(item,index) in quatoList" :key="index">
								<div class="item-box">
									<span class="item-name">
										<span :class="['item-title',item.isOnTrade?'on-trade':'']">{{item.commodity_name}}</span>
										<img v-if="item.hot=='020'" src="/PQ/static/img/home/fire.png"/>
										<span v-if="!item.isOnTrade" class="item-mark">休市中</span>
									</span>
									<span class="item-value">
										<span :class="item.isOnTrade?item.quatoData&&item.quatoData[3]>item.quatoData[10]?item.quatoData[3]==item.quatoData[10]?'':'colorUp':'colorDown':'notTrade'">{{item.quatoData?item.quatoData[3].toFixed(item.dotSize):'0'}}</span>
										<span class="item-value-right" :class="item.isOnTrade?item.quatoData&&item.quatoData[3]>item.quatoData[10]?item.quatoData[3]==item.quatoData[10]?'':'colorBgUp':'colorBgDown':'notBgTrade'"><span style="margin: 0;" v-if="item.quatoData&&item.quatoData[3]>item.quatoData[10]">+</span>{{item.quatoData?item.quatoData[3]==0?'-':((item.quatoData[3]-item.quatoData[10])/item.quatoData[10]*100).toFixed(2)+'%':'0'}}</span>
									</span>
								</div>
								<div class="item-box">
									<span>{{item.commodity_no}}{{item.mainContract}}</span>
									<span>{{item.handleTime}}<span class="deposit">保证金:$ {{(item.deposit*currencyRate[item.currencyNo]).toFixed(item.dotSize)}}</span></span>
								</div>
							</div>
							<div v-if="quatoList.length>0" class="quato-more" @tap="goToPage('/PQ/pages/quato/quato.html')">
								查看全部行情
							</div>
						</div>
						<div class="home-more">
							<div class="more-option">
								<!-- <span class="more-btn">
									资金安全
								</span> -->
								<span @tap="goToPage('/PQ/pages/home/riskNotice/riskNotice.html')" class="more-btn">
									风险告知
								</span>
								<span @tap="goToPage('/PQ/pages/home/cooperate/cooperate.html')" class="more-btn">
									合作伙伴
								</span>
							</div>
							<div class="more-info">
								<div>交易由纽约商品交易所及港交所实盘对接</div>
								<div>合作伙伴: 南华期货|芝加哥商品交易所|CME集团</div>
								<div>香港交易所|新加坡交易所|欧洲期货交易所</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 公告弹出框 -->
	<!-- 			<div id="noticeLayer" class="layer-box">
					<div class="notice-content">
						自定义通知内容
					</div>
					<div class="notice-btn">
						<span class="notice-line"></span>
						<img @tap="closeNoticeLayer" class="notice-close-btn" src="../../static/img/add.png" />
					</div>
				</div> -->
				
				<!-- 确认交易订单弹出框 -->
				<div id="confirmOrderLayer" class="layer-box">
					<img @tap="closeLayer" class="close-icon" src="/PQ/static/img/layerClose.png"/>
					<div class="layer-header">
						{{notice.title}}
					</div>
					<div class="layer-content" v-html="notice.content"></div>
					<div class="layer-btn" @tap="goToPage('/PQ/pages/discover/discover.html')">
						<span>查看详情</span>
					</div>
				</div>
				<!-- 客服弹窗 -->
				<div id="customLayer" class="layer-box">
					<div @tap="chooseCustomer(item)" class="custom-item" v-for="(item,index) in customerList" :key="index">
						<img :src="item.customerName=='电话客服'?'/PQ/static/img/custom/phone.png':item.customerName=='在线客服'?'/PQ/static/img/custom/message.png':item.customerName=='qq客服'?'/PQ/static/img/custom/qq.png':item.customerName=='微信客服'?'/PQ/static/img/custom/wechat.png':''"/>
						<span>{{item.customerName=='电话客服'?item.contactWay:item.customerName}}</span>
					</div>
				</div>
				<div id="wxLayer" class="layer-box">
					<div class="layer-header">请任意选择一种添加微信</div>
					<div class="layer-content">
						<div class="wx-add">
							<span class="title">1、扫描二维码</span>
							<img :src="wxPic">
							<span class="notice">*请截屏后在微信中扫描二维码</span>
							<span class="title">2、复制微信号</span>
							<input :value="wxUrl" id="wxUrl" readonly>
							<label @tap="openWX" class="open-wx">复制并打开微信</label>
						</div>
					</div>
					<div class="layer-btn">
						<span @tap="hideWX">取消</span>
					</div>
				</div>
			</div>
			<nav class="bottom-tab-nav mui-bar mui-bar-tab">
				<a id="defaultTab" class="mui-tab-item mui-active1">
					<img class="tab-icon" src="/PQ/static/img/tab/01y.png" />
					<span class="mui-tab-label">首页</span>
				</a>
				<a class="mui-tab-item" href="/PQ/pages/quato/quato.html">
					<img class="tab-icon" src="/PQ/static/img/tab/02.png" />
					<span class="mui-tab-label">行情</span>
				</a>
				<a class="mui-tab-item" href="/PQ/pages/trade/trade.html">
					<img class="tab-icon" src="/PQ/static/img/tab/03.png" />
					<span class="mui-tab-label">交易</span>
				</a>
				<a class="mui-tab-item" href="/PQ/pages/discover/discover.html">
					<img class="tab-icon" src="/PQ/static/img/tab/04.png" />
					<span class="mui-tab-label">发现</span>
				</a>
				<a class="mui-tab-item" href="/PQ/pages/my/my.html">
					<img class="tab-icon" src="/PQ/static/img/tab/05.png" />
					<span class="mui-tab-label">我的</span>
				</a>
			</nav>
		</div>
		<!-- jquery -->
		<script src="/PQ/static/js/jquery-1.11.3.js"></script>
		<!-- 压缩版vue -->
		<!-- <script src="/PQ/static/js/vue.min.js"></script> -->
		<!-- 开发版vue -->
		<script src="/PQ/static/js/vue.js"></script>
		<!-- 引入vux -->
		<script src="/PQ/static/js/vuex.js"></script>
		<!-- 引入axios -->
		<script src="/PQ/static/js/axios.min.js"></script>
		<!-- layui -->
		<script src="/PQ/static/js/layui/layui.js"></script>
		<!-- <script src="/PQ/WPJS/homeWP.js"></script> -->
	</body>
</html>
