<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>赚钱流水</title>
		<script src="/PQ/static/js/flexible.js"></script>
		<script src="/PQ/static/js/mui.js"></script>
		<link href="/PQ/static/css/mui.min.css" rel="stylesheet">
		<link href="/PQ/static/css/mui.picker.css" rel="stylesheet">
		<link href="/PQ/static/css/mui.dtpicker.css" rel="stylesheet">
		<link href="/PQ/static/js/layui/css/layui.css" rel="stylesheet">
	</head>
	<body class="layer-mask">
		<div id="record" class="header-content" v-cloak>
			<header class="header-nav mui-bar mui-bar-nav">
				<a class="header-right-icon mui-pull-left" @tap="back">
					<img class="header-icon" src="/PQ/static/img/discover/back.png" alt="">
				</a>
				<h1 class="mui-title">
					赚钱流水
				</h1>
			</header>

			<div class="record-content">
				<div class="record-head">
					<div class="record-head-total">
						<label>收入总计:</label>
						<span>￥<span>{{totalProfit}}</span></span>
					</div>
					<div class="record-head-date">
						<span @tap="quickDate(0)">近7天</span>
						<span @tap="quickDate(1)" class="active">近1月</span>
						<div class="time-box">
							<div class="time-input-box">
								<span @tap="chooseDate(1)">{{form.beginDate}}</span>
								<img src="/PQ/static/img/history/arrow.png">
								<span @tap="chooseDate(2)">{{form.endDate}}</span>
							</div>
							<div class="search-btn" @tap="search">
								<img src="/PQ/static/img/history/search.png">
							</div>
						</div>
					</div>
				</div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul>
							<li v-for="(i,k) in profitList" :key="k" v-if="i.profit != '0.00'">
								<span>{{i.profitTime}}</span>
								<label><span>+</span><span>{{i.profit}}</span>元</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script src="/PQ/static/js/jquery-1.11.3.js"></script>
		<!-- 压缩版vue -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
		<!-- 开发版vue -->
		<script src="/PQ/static/js/vue.js"></script>
		<!-- 引入vux -->
		<script src="/PQ/static/js/vuex.js"></script>
		<!-- 引入axios -->
		<script src="/PQ/static/js/axios.min.js"></script>
		<script src="/PQ/static/js/layui/layui.js"></script>
		<script src="/PQ/static/js/mui.picker.js"></script>
		<script src="/PQ/static/js/mui.dtpicker.js"></script>
		<script src="/PQ/js/moment.js"></script>
		<!-- <script src="/PQ/WPJS/recordWP.js"></script> -->
		<script>
			mui.init();
		</script>
	<script type="text/javascript" src="/PQ/WPJS/recordWP.js?88fa20424cec03a75413"></script></body>
</html>
