<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>登录</title>
    <script src="/PQ/static/js/flexible.js"></script>
    <script src="/PQ/static/js/mui.js"></script>
    <link href="/PQ/static/css/mui.min.css" rel="stylesheet"/>
    <link href="/PQ/static/js/layui/css/layui.css" rel="stylesheet"/>
</head>
<body class="layer-mask">
<div id="login" class="header-content" v-cloak>
    <header class="header-nav mui-bar mui-bar-nav">
        <a class="header-right-icon mui-pull-left" @tap="back">
            <img class="header-icon" src="/PQ/static/img/discover/back.png" alt=""/>
        </a>
        <h1 class="mui-title">
            登录
        </h1>
        <a class="header-right-icon mui-pull-right" @tap="showService">
            <img class="header-icon" src="/PQ/static/img/custom.png" alt=""/>
        </a>
    </header>
    <div id="wxLayer" class="layer-box">
        <div class="layer-header">请任意选择一种添加微信</div>
        <div class="layer-content">
            <div class="wx-add">
                <span class="title">1、扫描二维码</span>
                <img :src="wxPic">
                <span class="notice">*请截屏后在微信中扫描二维码</span>
                <span class="title">2、复制微信号</span>
                <input :value="wxUrl" id="wxUrl" readonly>
                <label @tap="openWX" class="open-wx">复制并打开微信</label>
            </div>
        </div>
        <div class="layer-btn">
            <span @tap="hideWX">取消</span>
        </div>
    </div>
    <div id="customLayer" class="layer-box">
        <div @tap="customService(i)" class="custom-item" v-for="(i,k) in customContact">
            <img :src="i.imgUrl"/>
            <span>{{i.customerName}}</span>
        </div>
    </div>

    <div class="chart-dialog">
        <h3>请输入图形验证码</h3>
        <div class="dialog-input">
            <input type="number" v-model="imgCode">
            <img @tap="changeImageCode" id="imageCode" src="" alt="">
        </div>
        <div class="dialog-action">
            <label @tap="hideDialog">取消</label>
            <label @tap="login">确认</label>
        </div>
        <span @tap="hideDialog">
            <img src="/PQ/static/img/discover/close.png" alt="">
        </span>
    </div>
    <div class="login-box">
        <div>
            <span>手机</span>
            <label>
                <input type="tel" autocomplete="off" v-model="form.loginName">
            </label>
            <label @tap="clearInput">
                <img src="/PQ/static/img/discover/close.png" alt="">
            </label>
        </div>
        <div>
            <span>密码</span>
            <label>
                <input autocomplete="new-password" :type="isShowPassword?'text':'password'" v-model="form.password">
            </label>
            <label @tap="showPassword">
                <img v-if="isShowPassword" class="open-pwd" src="/PQ/static/img/discover/eyeso.png" alt="">
                <img v-else class="open-pwd" src="/PQ/static/img/discover/eyesc.png" alt="">
            </label>
        </div>
    </div>
    <div class="forget-pwd" @tap="btnCallback($event,1)">忘记密码?</div>
    <div class="login-btn" @tap="btnCallback($event,2)">登录</div>
    <div class="login-register" @tap="btnCallback($event,3)">还没有账户？极速开户</div>
    <div class="login-hotline">
        <img src="/PQ/static/img/discover/phone.png" alt="">
        &nbsp;&nbsp;如遇问题请拨打：<span @tap="customService(customContact[0])" v-if="customContact.length > 0">{{customContact[0].contactWay}}</span>
    </div>
</div>
<script src="/PQ/static/js/jquery-1.11.3.js"></script>
<!-- 压缩版vue -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<!-- 开发版vue -->
<script src="/PQ/static/js/vue.js"></script>
<!-- 引入vux -->
<script src="/PQ/static/js/vuex.js"></script>
<script src="/PQ/static/js/layui/layui.js"></script>
<script src="/PQ/static/js/axios.min.js"></script>
<!-- <script src="/PQ/WPJS/loginWP.js"></script> -->
</body>
</html>